<!-- <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Login success!</strong>
</div> -->

<h1>Welcome, <%=current_dev.name%>!</h1>
<h3>Your Projects:</h3>
<%if current_dev.projects.count == 0%>
  There are no projects to display.
<%else%>
  <%current_dev.projects.each do |p|%>
    <h5><p class="text-muted"><a href="/nonprofits/<%=p.nonprofit.slug%>/projects/<%=p.slug%>"><%=p.name%></a> // <a href="/nonprofits/<%=p.nonprofit.slug%>"><%=p.nonprofit.name%></a></p></h5><br>
  <%end%>
<%end%>