<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1><%=current_dev.name%>'s Messages</h1><br>

<%if current_dev.messages.count == 0 %>
  There are no messages to display.
<%else%>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th></th>
        <th>To/From</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>

  <%@m_sorted = current_dev.messages.order('id DESC')%>
  <%@m_sorted.each_with_index do |m,i|%>
  <tr>

    <td><%=i+1%></td>
    <td><a href="/nonprofits/<%=m.nonprofit.slug%>"><%= m.nonprofit.name%></td>
    <td><a href="/developers/<%=current_dev.slug%>/messages/<%=m.id%>"><%= m.subject%></a></td>
    <td><%= m.date%></td>
  </tr>
  <%end%>
    </tbody>
  </table> 
  <%end%>