<h1>All Projects</h1><br>
  <% Project.all.each do |p|%>
    <h5><p class="text-muted"><a href="/nonprofits/<%=p.nonprofit.slug%>/projects/<%=p.slug%>"><%=p.name%></a> // <a href="/nonprofits/<%=p.nonprofit.slug%>"><%=p.nonprofit.name%></a></p></h5>
  <%end%>