<h1><%=@dev.name%>'s Projects</h1><br>

<%if dev_logged_in?%>
  <%if current_dev.slug == @dev.slug%>
      <h5><form name="developers" method="post" action="/developers/<%=current_dev.slug%>/projects/edit"> <button type="submit" class="link">Manage Your Projects</h5><br>
  <%end%>
<%end%>

<h3><p class="text-warning">Projects Due Today:</h3><br>
<%if @dev.projects.count == 0%>
  There are no projects to display.<br>
<%else%>
  <% @due = [] %>
  <%@dev.projects.each do |p|%>
    <%if p.due_date == Date.today%>
      <% @due << p %>
      <li><h4><p class="text-muted"><a href="/nonprofits/<%=p.nonprofit.slug%>/projects/<%=p.slug%>"><%=p.name%></a></p></h4></li>
    <%end%>
  <%end%>
<%end%>

<%if @due.count == 0%>
  There are no projects due today.<br>
<%end%><br>

<h3>Open Projects:</h3><br>
<%if @dev.projects.count == 0%>
  There are no projects to display.<br>
<%else%>
  <%@dev.projects.each do |p|%>
    <%if p.due_date >= Date.today%>
    <li><h4><p class="text-muted"><a href="/nonprofits/<%=p.nonprofit.slug%>/projects/<%=p.slug%>"><%=p.name%></a></p></h4></li>
    <%end%>
  <%end%>
<%end%><br>

<div id="closed"></div>
<button type="button" onClick = "loadDoc(), this.style.visibility= 'hidden';">Show closed projects</button>
<br></br>
<br></br>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      document.getElementById("closed").innerHTML = xhttp.responseText;
    }
  };
  xhttp.open("GET", "/developers/<%=@dev.slug%>/projects/closed", true);
  xhttp.send();
}
</script>
