<h1><%=@np.name%></h1>
<h3><p class="text-primary"><%=@np.tagline%></h3><br>
<a href="/nonprofits/<%=@np.slug%>/projects"><h4><p class="text-muted">Projects</h4></a>
<a href="/nonprofits/<%=@np.slug%>/cause"><h4><p class="text-muted">Our Cause</h4></a>
<a href="<%=@np.website%>"><h4><p class="text-muted">Website</h4></a>
<a href="/<%=@np.slug%>/projects"><h4><p class="text-muted">Donate</h4></a>