<!doctype html>
<html>
  <head>
    <title>Meaningful Code</title>
    <link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Meaningful Code</a>
    </div>

    <% if dev_logged_in? %>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/developers/<%=current_dev.slug%>">Your Profile<span class="sr-only">(current)</span></a></li>
        <li><a href="/developers/<%=current_dev.slug%>">Your Projects</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/nonprofits/all">All Nonprofits</a></li>
            <li><a href="/projects">All Projects</a></li>
            <li><a href="/developers/logout">Logout</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</ul>
   <ul class="breadcrumb">
    <li><a href="/developers/<%=current_dev.slug%>/homepage">Home</a></li>
    <li class="active">Developer</li>
    <li class="active"><%=current_dev.name%></li>
  </ul>
</nav>

    <% elsif np_logged_in? %>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/nonprofits/<%=current_np.slug%>/projects">Your Projects</a></li>
        <li><a href="/projects/new">Create New Project<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/nonprofits/all">All Nonprofits</a></li>
            <li><a href="/projects">All Projects</a></li>
            <li><a href="/developers/all">All Developers</a></li>
            <li class="divider"></li>
            <li><a href="/nonprofits/logout">Logout</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</ul>
   <ul class="breadcrumb">
    <li><a href="/nonprofits/<%=current_np.slug%>">Home</a></li>
    <li class="active">Nonprofit</li>
    <li class="active"><%=current_np.name%></li>
  </ul>
</nav>

    <% else %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/developers/signup">Sign Up <span class="sr-only">(current)</span></a></li>
        <li><a href="/developers/login">Log In</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> 
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>
<%end%>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://bootswatch.com/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>